main {
  text-align: center;
  vertical-align: center;
  text-color: darkslategray;
  font-family:  "Georgia", monospace;
  background-color: linen;
  
}
body {
 background-image: url("0410.png");
 font-size: 16px;
}

div {
  border: 4px dotted lightblue;
  margin: 20px 100px;
  background-color: linen;
}

button {
  background-color: darkslategrey; /* Green */
  border: none;
  color: linen;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:  "Georgia", monospace;
}
Dropoption {
  background-color: darkslategrey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:  "Georgia", monospace;
}